<div class="container-fluid px-5">
    <%= form_for :post do |f| %>
        <div class="form-group mx-5 px-5">
            <span> Title: </span>
            <%= f.text_field :title, :class => "form-control", :required => "true"%>

            <span>Category:</span>
            <%= f.text_field :category, :class => "form-control", :required => "true"%>
    
            <span>Text:</span>
            <%= f.text_area :text, :class => "form-control", :required => "true"%>
    
            <%= f.submit :Post, :class => "btn-success my-1 btn form-control" %>
        </div>
    <% end %>
</div>
