<%= render partial: "partials/header"%>
<div class="container px-5">
    <h2 class="container-fluid text-center mb-1 font-italic">Log in</h2>        
    <% unless @user.nil? %>
        <div class="alert alert-danger">
            <ul>
                <% @user.errors.full_messages.each do |m|%>
                <li>
                    <%= m %>
                </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= form_for :user do |f| %>
        <div class="form-group mx-5 px-5 mb-0">
            <span> Username: </span>
            <%= f.text_field :username, :class => "form-control", :required => "true"%>

            <span>Password:</span>
            <%= f.text_field :password, :class => "form-control", :required => "true", :type => "password"%>
    
            <%= f.submit "Sign in!", :class => "btn-success my-1 btn form-control font-italic" %>
        </div>
    <% end %>
    
    <div class="form-group mx-5 px-5">
        <p class="container-fluid text-center mb-1 text-secondary">or</p>        
        <%= button_to "Register", :register_url , method: "get",
                :class => "btn btn-info font-italic form-control"%>
    </div>
    <hr>
    <div class="form-group text-center">
        <a href="#" class="text-secondary">Forgot password?</a>
    </div>
</div>