<%= render partial: "partials/header"%>
<% if session[:user_id].nil? %>
    <%= render partial: "partials/login-or-reg"%>
<% else %>
    <h2 class="container-fluid text-center mb-1 font-italic">Edit post</h2>
    <% unless @post.errors.empty? %>
        <div class="alert alert-danger">
            <ul>
                <% @post.errors.full_messages.each do |m|%>
                <li>
                    <%= m %>
                </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="container-fluid px-5">
        <%= form_for :post, {method: "PATCH", url: edit_post_url(@post)} do |f| %>
            <div class="form-group mx-5 px-5">
                <span> Title: </span>
                <%= f.text_field :title, :class => "form-control", :required => "true"%>

                <span>Category:</span>
                <%= f.text_field :category, :class => "form-control", :required => "true"%>
    
                <span>Text:</span>
                <%= f.text_area :text, :class => "form-control", :required => "true"%>
    
                <%= f.submit :Post, :class => "btn-success my-1 btn form-control" %>
            </div>
        <% end %>
    </div>
<% end %>